# Hardware Protection
CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

# Essential Hardware Peripherals
CONFIG_GPIO=y
CONFIG_GPIO_NRFX=y
CONFIG_SPI=y
CONFIG_SPI_NRFX=y
CONFIG_ADC=y
CONFIG_ADC_NRFX_SAADC=y
CONFIG_SENSOR=y
CONFIG_EEPROM=y

# Hardware Limitations
CONFIG_UART_NRFX=n
CONFIG_UART_CONSOLE=n

# Default Console (RTT)
CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y
CONFIG_CONSOLE=y 