/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "Juxta5-4_nRF52840-pinctrl.dtsi"

/ {
	model = "Juxta5-4_nRF52840";
	compatible = "NeurotechHub,Juxta5-4_nRF52840";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			label = "LED 0";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		magnet_sensor: magnet_sensor {
			gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
			label = "Magnet sensor interrupt";
		};
		accel_int: accel_int {
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
			label = "Accelerometer interrupt";
		};
	};

	aliases {
		led0 = &led0;
		magnet-sensor = &magnet_sensor;
		accel-int = &accel_int;
		spi-fram = &fram0;
		spi-accel = &accel0;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&spi0 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	
	cs-gpios = <&gpio1 13 GPIO_ACTIVE_LOW>,  /* FRAM CS */
		   <&gpio0 5 GPIO_ACTIVE_LOW>;   /* Accelerometer CS */
	
	fram0: fram@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <8000000>; /* 8MHz - standard SPI clock */
		size = <DT_SIZE_K(128)>; /* MB85RS1MTPW-G-APEWE1 is 1Mbit = 128KB */
		has-dpd;
		jedec-id = [04 7F 27];
	};

	accel0: accel@1 {
		compatible = "st,lis2dh12", "st,lis2dh";
		reg = <1>;
		spi-max-frequency = <8000000>;
		label = "LIS2DH12";
	};
};

&adc {
	status = "okay";
	
	#address-cells = <1>;
	#size-cells = <0>;
	
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.03 */
		zephyr,input-negative = <NRF_SAADC_AIN0>; /* P0.02 */
		zephyr,resolution = <12>;
		zephyr,oversampling = <8>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(464)>;
		};

		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 DT_SIZE_K(464)>;
		};

		storage_partition: partition@f0000 {
			label = "storage";
			reg = <0x000f0000 DT_SIZE_K(64)>;
		};
	};
}; 