/*
 * Device tree overlay for Juxta BLE application
 * Disables SPI/FRAM functionality since this app only needs BLE and LED
 */

/ {
    chosen {
        /delete-property/ zephyr,eeprom;
    };

    aliases {
        /delete-property/ spi-fram;
    };
};

&spi0 {
    status = "disabled";

    /delete-node/ fram@0;
};

&flash0 {
    status = "disabled";
}; 