CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

# Enable GPIO
CONFIG_GPIO=y

# Enable SPI
CONFIG_SPI=y
CONFIG_SPI_NRFX=y

# Enable ADC
CONFIG_ADC=y
CONFIG_ADC_NRFX_SAADC=y

# Enable FRAM support
CONFIG_EEPROM=y
CONFIG_EEPROM_AT25=y